/*
*   стили для Селекта  
*/
// @import "compass/css3";

$dark: #35414a;
$semilight: #86919a;
$blue: #5aafee;

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.drop {
    width: 20em;
    float: left;
    height: 36px;
}
.drop.visible {
    .drop_content {
        -webkit-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);
    }
}
span.delete_btn {
    color: red;
    border: 1px solid;
    padding: 0px 7px;
    border-radius: 50%;
    float: right;
    position: relative;
}
span.delete_btn:hover {
    cursor: pointer;
}
.drop {
    width: 20em;
    color: $semilight;
    position: relative;
    transition: width 0.5s;
    will-change: width;
  
  .option {
    padding: 0.5em;
    border-bottom: 1px solid #485761;
    &:hover {
        cursor: pointer;
    }
    
    &:not(.active) {
        display: none;
        opacity: 0;
        transform: translateY(-50%);
    }
  }
  .option_multy {
    padding: 0.5em;
    border-bottom: 1px solid #485761;
    
    &:not(.active) {
        display: none;
        opacity: 0;
        transform: translateY(-50%);
    }

    .item {
        border-bottom: 1px solid #adadad;
        padding: 3px 7px;
        margin-right: 5px;
    }
  }
  
  &.visible {
    &:before, &:after {
      border-color: #fff;
    }
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
    
    .option {
        color: #86888a;
        display: block;
        background: white;
    }
  }
  
  &.opacity {
    
    .option {
      transform: translateZ(0);
      opacity: 1;
      
      @for $i from 0 to 10 {
        &:nth-child(#{$i}) {
          transition: opacity 0.5s 0.1s*$i, transform 0.5s 0.1s*$i;
        }
      }
    }
  }

    &.withBG {
    
        .option {
            transition: background-color 0.1s;

            &:not(.placeholder):hover {
                background-color: $blue;
            }

            &:not(.placeholder).active {
                background-color: $blue;
            }
        }
    }
  
}

.drop_content {
  position: absolute;
  width: inherit;
  z-index: 99;
  max-height: 359px;
  overflow-y: scroll;
  background: white;
}

.mini-hack {
  opacity: 0;
  transform: translateY(-50%);
}

span.selector_arrow {
    float: right;
    cursor: pointer;
}
i.paperclip.icon.filespopup {
  cursor: pointer;
}

.newItem {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0px;
}