/* Глобальные стили */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic');

$leftMenuColorBKG: white;
$FontFam: 'Ubuntu', sans-serif;
$button_top_active: #4fc3f7;
$button_top: #bdbdbd;
$button_top_hover: #039be5;
$button_top_logout: #ef9a9a;
$button_top_logout_hover: #ef5350;

@media screen and (min-width: 480px) {
  .left_Menu {
    position: fixed;
    height: 100%;
    z-index: 100;
    width: 240px;
    background: $leftMenuColorBKG;
    color: white;
    padding: 15px 0 0 5px;
  }
  .right_layout {
    margin-left: 240px;
    background: $leftMenuColorBKG;
  }
}

/*Basic reset*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $FontFam;
  font-size: 16px;
}

h1,h2,h3,h4 {
  font-family: $FontFam;
}

.main-content {
  margin-left: 240px;
  padding: 15px;
}
.main-content-full {
  padding: 15px;
}
.left_Menu {
  .ui.vertical.menu {
    width: 100%;
  }
  .ui.menu .item {
    color: #000;
  }
}
/*
.main-content {

}
*/
.header-top {
  background: #323232 !important;
  border-radius: 0px !important;
}

.header-top {
  h3 {
    color: white;
  }
  .ui.secondary.menu .item {
    box-shadow: none;
    background: rgba(0,0,0,0);
    color: $button_top;
    border-radius: .28571429rem;
  }

  .ui.secondary.menu .active.item {
    box-shadow: none;
    background: rgba(0,0,0,0);
    color: $button_top_active;
    border-radius: .28571429rem;
  }

  .ui.secondary.menu .dropdown.item:hover, .ui.secondary.menu .link.item:hover, .ui.secondary.menu a.item:hover {
    background: rgba(0,0,0,.0);
    color: $button_top_hover;
  }
  .ui.secondary.menu .item.log_out {
    color: $button_top_logout !important;
  }
  .ui.secondary.menu .item.log_out:hover {
    color: $button_top_logout_hover !important;
  }
}

.status {
  &.s1 {
    border-left: 5px solid green !important;
  }
  &.s2 {
    border-left: 5px solid yellow !important;
  }
  &.s3 {
    border-left: 5px solid blue !important;
  }
  &.s4 {
    border-left: 5px solid magenta !important;
  }
  &.s5 {
    border-left: 5px solid grey !important;
  }
  &.s6 {
    border-left: 5px solid olive !important;
  }
}

.dash .grouped.fields {
  border-bottom: 0.11em dashed #dededeee;
}

.ui.modal {
  .ui.input {
    font-size: 1em;
    width: 100%;
  }
  .text_area {
    width: 865px;
    margin: 0px;
    height: 80px;
    border: 0px;
  }
  .answers_block {
    margin-top: 15px;
  }
}

.back_home {
  background: url(./backgrnd.jpg) no-repeat 0px 0px !important;
  background-size: cover !important;;
  width: 100%;
  float: left;
  margin-right: -100% !important;
  position: relative !important;
  opacity: 1;
  display: block;
  z-index: 2;
  height: 929px;
  background-position: 0px 0px !important;
}

.center_home {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 50%;
  margin-top: -129px;
  text-align: center;
}

.fh5co-text {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  border: 7px solid #fff;
  padding: 30px 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-text-closes {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #919191;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  border: 7px solid #919191;
  padding: 30px 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-text:hover {
  color: #43aaff;
  border: 7px solid #43aaff;
  cursor: pointer;
}
.js .to-animate, .js .to-animate-2, .js .animate-box {
  opacity: 0;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.ui.secondary.inverted.pointing.menu {
  border-width: 0;
  border-color: rgba(34,36,38,.15);
}
.page-login {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 20%;
  margin-top: -129px;
  text-align: center;
}


.steps_item {
  @keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }

  .list {
    label {
      display: block;
      color: white;
      line-height: 20px;
      float: left;
    }
    label:hover {
      cursor: pointer;
    }
    ul {
      list-style: none;
      margin: 0 0 0 35px;
      padding: 0;
    }
    li {
      min-height: 35px;
    }
  }

  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 9.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    border: 3px solid #969696;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 1.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:checked, .option-input:hover {
    border: 3px solid #40e0d0;
  }
  .option-input:checked::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 16px;
    width: 16px;
    top: 4px;
    left: 4px;
    margin: auto;
    background: #40e0d0;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }
}

.label_item_ticket {
  color: #989898;
  font-size: 13px;
  line-height: 150%;
}

.commentOne {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
  margin-bottom: 15px !important;
}

.commentOne:last-child {
  border-bottom: none;
}

.padding10 {
  padding: 10px 0;
}
.padding15 {
  padding: 15px 0;
}
.who_comment {
  color: #929292;
}

span.linka {
  position: absolute;
  right: 0;
  margin-top: -15px;
  color: #929292;
}

span.linka:hover {
  color: #16ab39;
  opacity: 0.7;
  cursor: pointer;
  text-decoration: underline;
}

#action_block_ticket {
  -webkit-transition: width 320ms ease-out;
  -moz-transition: width 320ms ease-out;
  -ms-transition: width 320ms ease-out;
  -o-transition: width 320ms ease-out;
  transition: width 320ms ease-out;
  width: 50px;
  position: absolute;
  right: 0;

  .visible_button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .visible_button {
    -webkit-transition: width 320ms ease-out;
    -moz-transition: width 320ms ease-out;
    -ms-transition: width 320ms ease-out;
    -o-transition: width 320ms ease-out;
    transition: width 320ms ease-out;

    width: 50px;
    float: right;
  }
  .options.hidden {
    display: none;
  }
}
#action_block_ticket.visible {
  width: 370px;
  position: absolute;
  right: 0;
  z-index: 1;
  .options {
    display: block;
  }
}
.ui.selectable.table tbody tr:hover, .ui.table tbody tr td.selectable:hover {
  background: rgba(103, 103, 103, 0.3)!important;
  color: rgba(0,0,0,.95)!important;
  cursor: pointer;
}
.myloader {
  -webkit-transition: display 320ms ease-out;
  -moz-transition: display 320ms ease-out;
  -ms-transition: display 320ms ease-out;
  -o-transition: display 320ms ease-out;
  transition: display 320ms ease-out;

  bottom: 0px !important;
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  background: #000 !important;
  z-index: 999 !important;
}

.rc-pagination {
  font-size: 12px;
  font-family: 'Arial';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
}
.rc-pagination > li {
  list-style: none;
}
.rc-pagination-total-text {
  float: left;
  height: 30px;
  line-height: 30px;
  list-style: none;
  padding: 0;
  margin: 0 8px 0 0;
}
.rc-pagination:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.rc-pagination-item {
  cursor: pointer;
  border-radius: 6px;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  list-style: none;
  float: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  margin-right: 8px;
}
.rc-pagination-item a {
  text-decoration: none;
  color: #666;
}
.rc-pagination-item:hover {
  border-color: #2db7f5;
}
.rc-pagination-item:hover a {
  color: #2db7f5;
}
.rc-pagination-item-active {
  background-color: #2db7f5;
  border-color: #2db7f5;
}
.rc-pagination-item-active a {
  color: #fff;
}
.rc-pagination-item-active:hover a {
  color: #fff;
}
.rc-pagination-jump-prev:after,
.rc-pagination-jump-next:after {
  content: "•••";
  display: block;
  letter-spacing: 2px;
  color: #ccc;
  font-size: 12px;
  margin-top: 1px;
}
.rc-pagination-jump-prev:hover:after,
.rc-pagination-jump-next:hover:after {
  color: #2db7f5;
}
.rc-pagination-jump-prev:hover:after {
  content: "«";
}
.rc-pagination-jump-next:hover:after {
  content: "»";
}
.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 8px;
}
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  cursor: pointer;
  color: #666;
  font-size: 10px;
  border-radius: 6px;
  list-style: none;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  float: left;
  text-align: center;
}
.rc-pagination-prev a:after {
  content: "‹";
  display: block;
}
.rc-pagination-next a:after {
  content: "›";
  display: block;
}
.rc-pagination-prev,
.rc-pagination-next {
  border: 1px solid #d9d9d9;
  font-size: 18px;
}
.rc-pagination-prev a,
.rc-pagination-next a {
  color: #666;
}
.rc-pagination-prev a:after,
.rc-pagination-next a:after {
  margin-top: -1px;
}
.rc-pagination-disabled {
  cursor: not-allowed;
}
.rc-pagination-disabled a {
  color: #ccc;
}
.rc-pagination-options {
  float: left;
  margin-left: 15px;
}
.rc-pagination-options-size-changer {
  float: left;
  width: 80px;
}
.rc-pagination-options-quick-jumper {
  float: left;
  margin-left: 16px;
  height: 28px;
  line-height: 28px;
}
.rc-pagination-options-quick-jumper input {
  margin: 0 8px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  outline: none;
  padding: 3px 12px;
  width: 50px;
  height: 28px;
}
.rc-pagination-options-quick-jumper input:hover {
  border-color: #2db7f5;
}
.rc-pagination-options-quick-jumper button {
  display: inline-block;
  margin: 0 8px;
  font-weight: 500;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 6px;
  height: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
}
.rc-pagination-options-quick-jumper button:hover,
.rc-pagination-options-quick-jumper button:active,
.rc-pagination-options-quick-jumper button:focus {
  color: #2db7f5;
  background-color: #fff;
  border-color: #2db7f5;
}
.rc-pagination-simple .rc-pagination-prev,
.rc-pagination-simple .rc-pagination-next {
  border: none;
  height: 24px;
  line-height: 24px;
  margin: 0;
  font-size: 18px;
}
.rc-pagination-simple .rc-pagination-simple-pager {
  float: left;
  margin-right: 8px;
  list-style: none;
}
.rc-pagination-simple .rc-pagination-simple-pager .rc-pagination-slash {
  margin: 0 10px;
}
.rc-pagination-simple .rc-pagination-simple-pager input {
  margin: 0 8px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  outline: none;
  padding: 5px 8px;
  min-height: 20px;
}
.rc-pagination-simple .rc-pagination-simple-pager input:hover {
  border-color: #2db7f5;
}
.rc-pagination-simple .rc-pagination-simple-pager button {
  display: inline-block;
  margin: 0 8px;
  font-weight: 500;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 8px;
  font-size: 12px;
  border-radius: 6px;
  height: 26px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
}
.rc-pagination-simple .rc-pagination-simple-pager button:hover,
.rc-pagination-simple .rc-pagination-simple-pager button:active,
.rc-pagination-simple .rc-pagination-simple-pager button:focus {
  color: #2db7f5;
  background-color: #fff;
  border-color: #2db7f5;
}
@media only screen and (max-width: 1024px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
    display: none;
  }
}


.my_labelk {
  position: absolute;
  z-index: 100;
  left: 100%;
  top: 0 !important;
  margin: -0.8em 0em 0em -1.7em !important;
  padding: 3px !important;
}

.telegram_icon {
  margin-left: 50px;
  width: 50px;
}
