$border-color: #dbdbdb;
$hover-color: #dbdbdb;
$text-color: #111111;
$text-color-dipper: #616161;

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  tbody {

    tr:hover {
      background-color: $hover-color;
      cursor: pointer;
    }
  }

  thead td {
    color: $text-color-dipper;
  }

  td {
    padding: 12px 10px;
    font-weight: 400;
    text-align: center;
  }

  td:nth-child(1) {
    width: 27%;
    padding-left: 20px;
    text-align: left;
  }

  td:nth-child(2) {
    width: 17%;
    text-align: right;
  }

  td:nth-child(3) {
    width: 15%;
    text-align: right;
  }

  td:nth-child(4) {
    width: 13%;
    text-align: left;
  }

  td:nth-child(5) {
    width: 20%;
    text-align: left;
  }

  td:last-child {
    padding-right: 20px;
    width: 5%;
  }
}
.sticky {
  position: relative;
  z-index: 3;
}
.header_table {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 2px 2px 0 0;
  padding: 5px;
}
.content_table {
  background-color: white;
  border: 1px solid $border-color;
  border-top: none;
  border-radius: 0 0 2px 2px;
  padding: 5px;
}